body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 550px;
  background-color: white;
  border-radius: 5px;
  margin-top: -100px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.25);
}

.Container {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}

.File-Input {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: calc(100% - 80px);
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  border-style: dashed;
}

.Upload-Text {
  font-family: "Nunito Sans", sans-serif;
}

.Upload-Area {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Drop-Area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/public/upload.svg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
  filter: brightness(40%);
  cursor: pointer;
}

.Drop-Area:hover {
  filter: brightness(60%);
}

.Drop-Area:active {
  filter: brightness(80%);
}

.Drop-Text {
  position: absolute;
  bottom: 25px;
  color: white;
  font-weight: 300;
}

.Top-Form {
  width: 100%;
  height: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.Top-Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 115px;
  margin-top: -15px;
}

.Close-Button {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 6;
}

.btn-close-custom {
  color: black;
}

.Top-Form {
  display: flex;
  align-items: center;
}

#URL-Field {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}

#copy-link {
  width: 100px;
  height: 40px;
}

.Upload-Message {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  color: darkgray;
  font-size: 14px;
}